/* farver

FFEEF0
BBD3BC
F2ECE2
FFFFFF
B1ADA4
000000
CEDFCE
F9F6F1

/* menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #ffeef0;
  z-index: 20;
}

.logo img {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Playfair Display";
  font-weight: 400;
}

.menu a:hover {
  color: #d8a1a8;
}

.menu a.active {
  border-bottom: 1px solid #d8a1a8;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffeef0;
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* menu slut */

p {
  font-family: "Lato", serif;
  line-height: 1.5;
  font-weight: 350;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 300;
}

h2 {
  font-family: "Playfair Display";
  font-weight: 200;
}

h3 {
  font-family: "Playfair Display";
  font-weight: 200;
}

ul {
  font-weight: 350;
}

img {
  width: 100%;
}

/* footer lyserød */
footer {
  background-color: #d8a1a8;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.icon-link {
  display: inline-block;
}

.footer-icon {
  transition: transform 0.3s ease;
}

.footer-content .footer-icon.mail {
  width: 60px;
  height: 60px;
}

.footer-content .footer-icon.linkedin {
  width: 30px;
  height: 30px;
}

.footer-content .footer-icon.logo {
  width: 80px;
  height: 80px;
}

.footer-icon:hover {
  transform: scale(1.1);
}
/* footer lyserød */

/* footer beige */
.footerbeige {
  background-color: #cedfce;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.icon-link {
  display: inline-block;
}

.footer-icon {
  transition: transform 0.3s ease;
}

.footer-content .footer-icon.mail {
  width: 60px;
  height: 60px;
}

.footer-content .footer-icon.linkedin {
  width: 30px;
  height: 30px;
}

.footer-content .footer-icon.logo {
  width: 80px;
  height: 80px;
}

.footer-icon:hover {
  transform: scale(1.1);
}

/* footer beige */

.logo2 {
  width: 50px;
}
