/* Sikre at ingen horisontal scrollbar vises */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #f4f2ec;
  padding: 30px;
  overflow-x: hidden;
}

h1 {
  text-align: left;
}

.grid_2_1 {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.portraet {
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 20px;
  /* border: 3px solid #cedfce; */
  display: block;
  max-width: 100%;
  margin-bottom: 4rem;
  place-self: end;
}

.billede {
  border-radius: 20px;
  margin-bottom: 3rem;
  width: 100%;
}

p {
  width: 100%;
  margin-bottom: 2rem;
}
.fed {
  font-weight: 400;
}

.cv-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #000;
  line-height: 1.6;
}

.cv-container h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5rem;
  font-family: "Playfair Display", serif;
}

.section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  color: #000;
}

.section p,
.section ul,
.section ul li {
  font-size: 16px;
  margin-bottom: 8px;
}

.section ul {
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    padding-inline: 200px;
    padding-bottom: 75px;
  }

  .portraet {
    width: 80%;
    margin: 0;
  }
  .omtekst1 {
    width: 70ch;
  }

  .omtekst2 {
    width: 70ch;
    margin-inline: auto;
  }

  .omtekst3 {
    width: 70ch;
    margin-inline: auto;
    padding-bottom: 70px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    padding: 40px;
    padding-inline: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .billede {
    border-radius: 20px;
    margin-bottom: 3rem;
    width: 500px;
    height: 320px;
    object-fit: cover;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  h1 {
    margin-left: 200px;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #f4f2ec;
  z-index: 20;
}

.logo img {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menubeige {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menubeige li {
  margin-right: 20px;
}

.menubeige li:last-child {
  margin-right: 0;
}

.menubeige a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Playfair Display";
  font-weight: 400;
}

.menubeige a:hover {
  color: #9eb99e;
}

/* Aktiv link - streg under for beige menu */
.menubeige a.active {
  border-bottom: 1px solid #9eb99e; /* Farven på stregerne */
}

.burgerbeige {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burgerbeige .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burgerbeige {
  display: none;
}

@media screen and (max-width: 800px) {
  .menubeige {
    display: none;
  }
  .burgerbeige {
    display: block;
  }
  .burgerbeige.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burgerbeige.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burgerbeige.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menubeige {
    display: block;
    background-color: #f4f2ec;
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menubeige li {
    margin: 10px 20px;
  }

  nav.active .menubeige a {
    font-size: 24px;
  }

  h1 {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .omtekst2 {
    margin-inline: auto;
    width: 70ch;
  }

  .omtekst1 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .omtekst3 {
    margin-inline: auto;
    width: 70ch;
  }
}
