* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #f4f2ec;
  padding: 30px;
  /* overflow-x: hidden; */
  padding-inline: 100px;
}

/* menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #f4f2ec;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  z-index: 20;
}

.logo img {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menubeige {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menubeige li {
  margin-right: 20px;
}

.menubeige li:last-child {
  margin-right: 0;
}

.menubeige a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Playfair Display";
  font-weight: 400;
}

.menubeige a:hover {
  color: #9eb99e;
}

/* Aktiv link - streg under for beige menu */
.menubeige a.active {
  border-bottom: 1px solid #9eb99e; /* Farven på stregerne */
}

.burgerbeige {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burgerbeige .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burgerbeige {
  display: none;
}
@media screen and (max-width: 800px) {
  .menubeige {
    display: none;
  }
  .burgerbeige {
    display: block;
  }
  .burgerbeige.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burgerbeige.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burgerbeige.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menubeige {
    display: block;
    background-color: #f4f2ec;
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
  }

  nav.active .menubeige li {
    margin: 10px 20px;
  }

  nav.active .menubeige a {
    font-size: 24px;
  }

  /* menu slut */

  @media screen and (min-width: 768px) {
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      padding-inline: 100px;
    }

    .video {
      display: flex;
      align-self: end;
      width: 100%;
      height: 40vh;
      padding-left: 100px;
    }

    .grid_3_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-inline: 100px;
      place-items: center;
      gap: 30px;
      padding-block: 100px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .link {
    padding-bottom: 30px;
  }

  .video {
    margin-inline: auto;
    width: 100%;
    height: 30vh;
  }

  img {
    width: 100%;
    padding-block: 30px;
  }

  .temaknap {
    text-align: center;
    border-inline: 3px solid #9eb99e;
    border-block: 3px solid #9eb99e;
    padding-block: 20px;
    border-radius: 20px;
    padding-inline: 20px;
    max-width: 694px;
    width: 275px;
    font-family: "Playfair Display";
    font-size: large;
    text-decoration: none;
    color: #000000;
  }

  .temaknap:hover {
    background-color: #9eb99e;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .linkknap {
    text-align: center;
    border-inline: 3px solid #9eb99e;
    border-block: 3px solid #9eb99e;
    padding-block: 10px;
    border-radius: 12px;
    padding-inline: 20px;
    max-width: 694px;
    width: 200px;
    font-family: "Lato";
    text-decoration: none;
    color: #000000;
    font-weight: 300;
  }

  .linkknap:hover {
    background-color: #9eb99e;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .loesning2 {
    gap: 20px;
  }

  .proces2 {
    padding-top: 100px;
    gap: 30px;
  }

  .laering2 {
    padding-top: 100px;
    /* margin-inline: 100px; */
  }

  .wireframe {
    order: -1;
  }

  .kode {
    width: 400px;
    place-self: end;
  }

  .mockup1 {
    width: 500px;
  }

  .bargo {
    height: 50vh;
    object-fit: cover;
    place-self: end;
  }

  .kort {
    order: -1;
    place-self: end;
  }

  .prototype {
    width: 600px;
    place-self: end;
  }

  .laring3 {
    gap: 20px;
    padding-top: 100px;
  }

  .spil {
    width: 400px;
    place-self: end;
  }

  .tegning {
    order: -1;
  }

  .laering4 {
    padding-top: 100px;
    margin-inline: auto;
    width: 70ch;
  }
  .laering5 {
    padding-top: 50px;
    margin-inline: auto;
    width: 70ch;
  }
  .space {
    height: 50vh;
    object-fit: cover;
    place-self: end;
  }

  @media screen and (max-width: 800px) {
    img {
      width: 100%;
      margin-inline: auto;
    }

    main {
      padding-inline: 20px;
    }

    .linkknap {
      width: 100%;
      padding-inline: 40px;
    }

    .grid_3_1 {
      display: grid;
      grid-template-columns: 1fr;
      padding-inline: 100px;
      place-items: center;
      gap: 30px;
      padding-block: 100px;
    }

    .temaknap {
      width: 120%;
    }

    .video {
      margin-top: 50px;
    }

    .loesning2,
    .laering2,
    .laering4,
    .laering5 {
      width: 100%;
      margin-bottom: 2rem;
    }

    .laering2 {
      width: 100%;
      margin-bottom: 2rem;
    }

    .proces2 {
      width: 100%;
      margin-bottom: 2rem;
    }

    .billede {
      width: 100%;
    }

    .knap {
      width: 90%;
      display: flex;
      justify-content: center;
      place-items: center;
      margin-inline: auto;
    }
  }

  .p {
    width: 100%;
    margin-bottom: 2rem;
    width: 70ch;
  }
}
